* {
    font-family: Arial;
}

main {
    margin-top: 5rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

input {
    font: inherit;
    padding: 0.5rem;
    min-width: 50vw;
    font-size: 1.5rem;
}

.submit {
    display: block;
    margin-top: 1rem;
    font: inherit;
    font-size: 1.2rem;
}

center {
    max-width: 520px;
    margin: 0 auto;
}

ul {
    margin-top: 2rem;
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.status {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.task-card p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.task-card button {
    margin: 0 10px;
    font-size: 1.1rem;
}